@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");
* {
  margin: 0;
  padding: 0;
  font: {
    family: "Antic", sans-serif;
    size: 20px;
  }
}
.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.zoom {
  cursor: pointer;
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.1); 
}


.card-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    margin: 10px;
    border: {
      color: rgba(119, 154, 252, 0.267);
      style: solid;
      width: 3px;
    }
    section {
      margin: 10px;
      line-height: 25px;
    }
  }
}
.customSelect {
  width: 200px;
}
.customSelect .MuiInputLabel-root {
  color: rgba(71, 71, 71, 0.438);
}
#totoro {
  width: 60px;
}

.style-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgb(245, 245, 245);
  text-align: justify;
  border: {
    radius: 10px;
    style: solid;
    width: 2px;
    color: rgb(95, 106, 155);
  }
  padding: 20px;
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  section {
    margin-top: -15px;
    text-align: end;
    font: {
      weight: bold;
      size: 25px;
    }
    color: rgb(95, 106, 155);
  }
}

.pagination-btns {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50px;
  margin-top: 10px;
  a {
    text-transform: uppercase;
    padding: 12px;
    margin: 10px;
    border: {
      radius: 5px;
      style: none;
    }
    color: rgb(67, 93, 165);
    font-weight: bold;
    cursor: pointer;
  }
  a:hover {
    color: black;
    background-color: rgba(119, 154, 252, 0.267);
  }
}

.pagination-active {
  a {
    color: black;
    background-color: rgba(119, 154, 252, 0.267);
  }
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    .btn-group {
      display: flex;
      flex-direction: column;
    }
  }
}
