@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Antic", sans-serif;
  font-size: 20px;
}

.Welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.zoom {
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card {
  margin: 10px;
  border-color: rgba(119, 154, 252, 0.267);
  border-style: solid;
  border-width: 3px;
}

.cards .card section {
  margin: 10px;
  line-height: 25px;
}

.customSelect {
  width: 200px;
}

.customSelect .MuiInputLabel-root {
  color: rgba(71, 71, 71, 0.438);
}

#totoro {
  width: 60px;
}

.style-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background-color: whitesmoke;
  text-align: justify;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #5f6a9b;
  padding: 20px;
}

.style-box h2 {
  text-align: center;
  margin-bottom: 15px;
}

.style-box section {
  margin-top: -15px;
  text-align: end;
  font-weight: bold;
  font-size: 25px;
  color: #5f6a9b;
}

.pagination-btns {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 50px;
  margin-top: 10px;
}

.pagination-btns a {
  text-transform: uppercase;
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  border-style: none;
  color: #435da5;
  font-weight: bold;
  cursor: pointer;
}

.pagination-btns a:hover {
  color: black;
  background-color: rgba(119, 154, 252, 0.267);
}

.pagination-active a {
  color: black;
  background-color: rgba(119, 154, 252, 0.267);
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */