@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Reem+Kufi&family=Rouge+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
}
.films-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
}
.films-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    margin: 10px;
    border: {
      color: rgba(119, 154, 252, 0.267);
      style: solid;
      width: 3px;
    }
  }
}
.style-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgb(212, 220, 245);
  text-align: justify;
  border: {
    radius: 20px;
    style: solid;
    width: 2px;
    color: rgb(95, 106, 155);
  }
  padding: 20px;
  #modal-modal-title {
    text-align: center;
    font-weight: bold;
  }
}
nav {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  .input-search-container {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    #search-input {
      height: 10px;
    }
  }
}

.paginationBtns {
  display: flex;
  justify-content: center;
  height: 40px;
  list-style: none;
  margin-top: 50px;
  a {
    padding: 10px;
    margin: 8px;
    border: {
      radius: 5px;
      width: 2px;
      style: solid;
      color: rgba(119, 154, 252, 0.267);
    }
    color: rgb(67, 93, 165);
    font-weight: bold;
    cursor: pointer;
  }
  a:hover {
    color: black;
    background-color: rgba(119, 154, 252, 0.267);
  }
}

.paginationActive {
  a {
    color: black;
    background-color: rgba(119, 154, 252, 0.267);
  }
}

@media (max-width: 988px) {
  .inputBuscar {
    width: 100% !important;
  }
  .containerInput {
    padding-bottom: 15px;
  }
}
