* {
  margin: 0;
  padding: 0;
}
.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
}
.films-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #card {
    margin: 10px;
  }
}
.paginationBtns {
  display: flex;
  justify-content: center;
  height: 40px;
  list-style: none;
  margin-top: 10px;
  a{
    padding: 10px;
    margin: 8px;
    border: {
      radius: 5px;
      width: 1px;
      style: solid;
      color: rgb(144, 144, 240);
    }
    color: rgb(144, 144, 240);
    cursor: pointer;
  }
  a:hover{
    color: white;
    background-color: rgb(144, 144, 240);
  }
}

.paginationActive{
  a{
    color: white;
    background-color: rgb(144, 144, 240);
  }
}